* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

/* a */
a {
  text-decoration: none;
  color: #000;
}

/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* h1*/
h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}

/* p */
p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

/* span */
span {
  font-weight: 700;
}

/* make input box look better*/
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}

/* make ul look better */
ul {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* make li look better */
li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}
